<div class="jumbotron">
	<table style="width:100%">
	<tr><td><h4>{{item.title}}</h4></td>
	<td style="text-align:right" colspan=2><span ><small>{{item.creationDate | date :'short'}}</small></span></td></tr>
	<tr>
	<td ><p>{{item.description}}</p></td>
	<td style="text-align:right" width="10%"><a class="btn btn-primary text-light" href="#" role="button">Edit</a></td>
	<td style="text-align:right" width="10%"><a class="btn btn-primary text-light" href="#" role="button">Delete</a></td>
	</tr>
	</table>
</div>


